* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --purple: #755CDE;
    --orange: #F6A560;
    --pink: #F39E9E;
    --red: #EB7565;
    --green: #61C4B7;
    --brown: #552049;
    --black: #030303;
    --grey: #7A746E;
    --white: #FFF7F0;
}

body {
    font-family: 'Plus Jakarta Sans';
    overflow-x: hidden;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
}

.heading-l {
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    color: var(--black);
}

.heading-m {
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: var(--black);
}

.heading-s {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--black);
}

.paragraph {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--grey);
}

.black-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--white);
    background-color: var(--black);
    padding: 14px 45px;
    border: none;
    border-radius: 28px;
}

.black-btn:hover {
    background-color: var(--purple);
}

.red-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--white);
    background-color: var(--red);
    padding: 14px 45px;
    border: none;
    border-radius: 28px;
}

.red-btn:hover {
    background-color: var(--orange);
}

.arrow-btn {
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
    background-color: var(--black);
    padding: 24px;
}

.arrow-btn:hover {
    background-color: var(--purple);
}



header {
    margin-top: 34px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info {
    margin-top: 66px;
    width: 752px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header-info p {
    margin-top: 23px;
}

main {
    margin-top: 80px;
    margin-bottom: 88px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.grid-item {
    border-radius: 8px;
    margin: 12px;
    position: relative;
    color: var(--white);
}

.grid-item img {
    position: absolute;
    top: 24px;
    right: 24px;
}

.grid-item h4 {
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.grid-item:nth-child(1) {
    background-color: var(--purple);
    grid-row-start: 1;
    grid-row-end: 3;
    width: 354px;
    height: 364px;
}

.grid-item:nth-child(2) {
    background-color: var(--orange);
    grid-column-start: 2;
    grid-column-end: 3;
    width: 164px;
    height: 182px;
}

.grid-item:nth-child(3) {
    background-color: var(--pink);
    grid-column-start: 3;
    grid-column-end: 4;
    width: 164px;
    height: 182px;
}

.grid-item:nth-child(4) {
    background-color: var(--red);
    grid-column-start: 2;
    grid-column-end: 4;
    width: 354px;
    height: 158px;
}

.grid-item:nth-child(5) {
    background-color: var(--green);
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 5;
    width: 354px;
    height: 182px;
}

.grid-item:nth-child(6) {
    background-color: var(--brown);
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    width: 354px;
    height: 158px;
}

.hero {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 125px;
}

.hero-info .paragraph {
    margin-top: 34px;
}

.hero-info .red-btn {
    margin-top: 32px;
}

.work-imgs {
    margin-top: 88px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
}

.imgs {
    display: flex;
    gap: 30px;
}

.btns .arrow-btn {
    margin-right: 16px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 182px;
    background-color: var(--black);
    padding: 81px 95px 80px 65px;
    border-radius: 10px;
}

.f-text {
    width: 540px;
}

.f-text .heading-m {
    margin-bottom: 25px;
    color: var(--white);
}

footer nav {
    margin-top: 56px;
    margin-bottom: 64px;
}